{% extends "base.html" %}

{% block content %}
    <h1>{{ review.person.first_name }} {{ review.person.last_name }}</h1>
    <h3>Review Date: {{ review.review_date }}</h3>

    <p>Review Details:</p>
    <br>
    <p><strong>Approver: </strong>{{ review.approver }}</p>
    <p><strong>Role Information: </strong><i>(What is the business reason for this promotion?) </i>{{ review.role_info }}</p>
    <p><strong>The Person: </strong><i>(Why are you recommending this employee for promotion?) </i>{{ review.person_info }}</p>
    <h4>Performance</h4>
    <p><i>Does the employee consistently produce high quality work? </i>
        {% if review.performance_quality %}Yes
        {% else %}No{% endif %}</p>
    <p><i>Does the employee consistently exceed the goals and expectations of their role? </i>
        {% if review.performance_goals %}Yes
        {% else %}No{% endif %}</p>
    <h4>Skills & Capabilities</h4>
    <p><i>Does the employee demonstrate some of the skills and capabilities that are required at the next level? </i>
        {% if review.skills.require %}Yes
        {% else %}No{% endif %}</p>
    <p><i>Is this employee significantly more skilled than other colleagues at their level? </i>
        {% if review.skills_compare %}Yes
        {% else %}No{% endif %}</p>
    <h4>Values & Attitude</h4>
    <p><i>Does the employee model our Company values? </i>
        {% if review.values_company %}Yes
        {% else %}No{% endif %}</p>
    <p><i>Does the employee demonstrate an interest and willingness to get involved in new work / initiatives / projects etc? </i>
        {% if review.values_interest %}Yes
        {% else %}No{% endif %}</p>
    <h4>Communication</h4>
    <p><i>Does the employee communicate appropriately to colleagues and/or customers? </i>
        {% if review.communication_appropriate %}Yes
        {% else %}No{% endif %}</p>
    <p><i>Does the employee respect other people’s thoughts, views and opinions? </i>
        {% if review.communication_respect %}Yes
        {% else %}No{% endif %}</p>
    <h4>Leadership</h4>
    <p><i>Does the employee model our leadership principals? </i>
        {% if review.leadership_principles %}Yes
        {% else %}No{% endif %}</p>
    <p><i>Does the employee frequently encourage or motivate their colleagues? </i>
        {% if review.leadership_motivate %}Yes
        {% else %}No{% endif %}</p>
    <br>
    <p><strong>Feedback: </strong></p>
    <p>{{ review.feedback }}</p>
    <br>
    <button onclick='location.href="{% url 'approval-create' object.id %}"'>Approve</button>
    <button onclick="location.href='#'">Deny</button>
{% endblock %}
