{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center container">
            <br>
            <h2 class="text-center">Search for people</h2>
            <br>
            <form method="GET">
                <input type="text" name="name" placeholder="Search..." class="text-center" />
                <button type="submit" class="btn-danger btn-sm">SEARCH USERS</button>
            </form>
        </div>
        <br><br>
        <div class="row">
            {% for user in all_users %}
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <p class="card-text"><a href="{% url 'get-or-create' user.id %}">{{ user.name }}</a></p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}